.project-logo {
  width: auto; // Ajusta autom치ticamente el ancho manteniendo las proporciones
  max-width: 30%; // Asegura que el logo no exceda el ancho del contenedor
  max-height: 150px; // Establece una altura m치xima para el logo
  margin-bottom: 20px;
  object-fit: contain; // Asegura que todo el logo sea visible
}

.screenshots {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  img {
    width: auto; // Ajusta autom치ticamente el ancho manteniendo las proporciones
    max-height: 280px; // Establece una altura m치xima
    margin-bottom: 20px;
    object-fit: contain; // Asegura que todo el logo sea visible
    border-radius: 10px;
  }
}

.project-description {
  color: #fff;
  margin-bottom: 20px;
  max-width: 600px;
}

.download-button {
  background-color: #fff;
  color: #ff7f00;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ffd699;
  }
}

.screenshots-container {
  // Estilos para las capturas de pantalla
}

@media (orientation: portrait) {
  .project-logo {
    max-width: 200px;
    margin-bottom: 0px;
  }

  .screenshots {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
    width: 100%;

    img {
      width: 112px;
      height: 200px;
      margin: 5px;
      object-fit: fill;
    }
  }
}
