#item4 {
  background: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  display: flex;
  flex-direction: row;
  align-items: center; /* Centrar los elementos horizontalmente */
  justify-content: center;
}

#item4 h2 {
  margin-bottom: 20px; /* Espacio debajo del título */
}

.quadrant {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-out; /* Transición más rápida al disminuir */
  text-align: center;
}

.quadrant-content {
  transition: transform 0.1s ease-out; /* Transición más rápida para el contenido */
  transform: scale(1); /* Asegura que el contenido no se transforme */
}

.quadrant:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-out; /* Transición más lenta al aumentar */
}

.quadrant:hover .quadrant-content {
  transform: scale(1); /* Mantiene el contenido sin escalar, incluso cuando el cuadrante se agranda */
}

.quadrant-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.quadrant-link:hover {
  color: #ccc;
}

@media (orientation: portrait) {
  #item4 {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;

    flex-direction: column;
  }
}
