#item6 {
  background: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  height: 100%; // Asegúrate de definir una altura para el contenedor
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#Hobbies {
  background: rgba(0, 0, 0, 0.466);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 34%; // O el ancho que desees para tu div #Hobbies
  height: 50px; // O la altura que desees para tu div #Hobbies
  margin: auto; // Esto centrará el div #Hobbies
  display: flex; // Utiliza flexbox para centrar el contenido de #Hobbies
  justify-content: center; // Centra el contenido horizontalmente
  z-index: 10;
}

.quadranty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-out; /* Transición más rápida al disminuir */
  text-align: center;
}

@media (orientation: portrait) {
  #item6 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 10;
    flex-direction: column;

    img {
      max-height: 230px;
    }
  }

  #Hobbies {
    width: 100%;
  }
}
