#item9 {
  background: linear-gradient(to bottom right, #7a3a96, #4b14c2);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  text-align: center;

  .project-logo {
    width: auto; // Ajusta automáticamente el ancho manteniendo las proporciones
    max-width: 50%; // Asegura que el logo no exceda el ancho del contenedor
    max-height: 150px; // Establece una altura máxima para el logo
    margin-bottom: 20px;
    object-fit: contain; // Asegura que todo el logo sea visible
  }

  .screenshots {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    img {
      width: auto; // Ajusta automáticamente el ancho manteniendo las proporciones
      max-height: 280px; // Establece una altura máxima
      margin-bottom: 20px;
      object-fit: contain; // Asegura que todo el logo sea visible
      border-radius: 10px;
    }
  }

  .project-description {
    color: #fff;
    margin-bottom: 20px;
    max-width: 600px;
  }

  .download-button {
    background-color: #fff;
    color: #4b14c2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ffd699;
    }
  }

  .screenshots-container {
    // Estilos para las capturas de pantalla
  }
}
