@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

a {
  color: #007bff; // Cambia esto por el color que prefieras
  text-decoration: none; // Elimina el subrayado
  font-weight: 500; // Ajusta el peso del texto según tus preferencias

  &:hover {
    color: #0056b3; // Cambia el color al pasar el ratón por encima
    text-decoration: underline; // Añade un subrayado al pasar el ratón por encima
  }

  &:visited {
    color: #5a5a5a; // Color para enlaces visitados
  }

  &:active {
    color: #002766; // Color al hacer clic en el enlace
  }

  transition: color 0.3s ease-in-out; // Suaviza el cambio de color
}

body {
  padding: 20px;
  background: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; // Asegúrate de que nada se desborde del contenedor de la celda
  border-radius: 20px;
  opacity: 0;
}

.grid-item img {
  width: 100%; // Ajusta la imagen al 100% de la anchura de su contenedor
  height: 100%; // Ajusta la imagen al 100% de la altura de su contenedor
  object-fit: cover; // Asegura que la imagen cubra toda el área de la celda
  object-position: center; // Centra la imagen dentro de la celda
}

// items

#item1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background: "red";
}

#item2 {
  grid-column-start: 2;
  grid-column-end: 4;
  background: white;
}

#item3 {
  background: white;
  grid-column-start: 4;
  padding-left: 50px;
  padding-right: 50px;

  h1 {
    font-weight: bolder;
  }

  p {
    margin: 0px;
    font-weight: 100;
  }
}

#item4 {
  background: white;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center; /* Centrar los elementos horizontalmente */
  justify-content: center;
}

#item4 h2 {
  margin-bottom: 20px; /* Espacio debajo del título */
}

.social-icons {
  display: flex;
  justify-content: center; /* Centra los íconos horizontalmente */
  gap: 20px; /* Espacio entre los íconos */
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ancho del ícono */
  height: 50px; /* Altura del ícono */
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.social-icon img {
  width: 100%; /* Ajusta la imagen al 100% de la anchura del contenedor */
  height: 100%; /* Ajusta la imagen al 100% de la altura del contenedor */
}

.section-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  padding-left: 20px;
}

#item6 {
  background: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  overflow: hidden; // Evita que los contenidos se desborden
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  h1 {
    color: transparent;
    background: linear-gradient(to right, #403f37, #6ac8ff);
    -webkit-background-clip: text;
    background-clip: text;
  }

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 0;
  }
}

//floating
.icon-container {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.icon-container img {
  // animation: float 10s linear infinite;
  margin: 10px;
}

@keyframes float {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes leftToRightAnim {
  from {
    transform: translateX(-300%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rightToLeftAnim {
  from {
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes topToBottomAnim {
  from {
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.leftToRight {
  opacity: 0;
  animation: leftToRightAnim 1.5s ease forwards;
}

.rightToLeft {
  opacity: 0;
  animation: rightToLeftAnim 1.5s ease forwards;
}

.topToBottom {
  opacity: 0;
  animation: topToBottomAnim 1.5s ease forwards;
}
